<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <ul>
      <% docs.forEach(function(users){ %>
        <li>
            <%= users.nome %> <%= users.sobrenome %>
            <ul>
              <li><%= users.email %></li>
              <li><%= users.idade %> anos</li>
              <li><%= users.cidade %> - <%= users.uf %></li>
              <li><%= users.cep %></li>
            </ul>
            <!--<a href="mailto:<%= users.email %>"><%= users.username %></a>-->
        </li>
      <% }) %>
    </ul>
<<<<<<< HEAD
    <br><input type="submit" name="evento" onClick="window.location.href='/users'" value="Cadastrar">
    <a href="/logout">Logout</a>
=======
    <br><input type="submit" name="evento" onClick="window.location.href='http://localhost:3000/users'" value="Cadastrar">
>>>>>>> 1b549a05625d5dc0404eb9ac5feaebf5a2df18a6
  </body>
</html>
<!--
<!DOCTYPE html>
<html lang="en">
 
<head></head>
 
<body>
    <h1 class="text-center title-1"> Cadastro de Usuario </h1>
    <form action="/user" method="post">
        <p>Username:<input type="text" name="username" /></p>
        <p>Email:<input type="text" name="email" /></p>
        <p><input type="submit" value="Salvar" /></p>
    </form>
</body>
 
</html>
-->